/*
FONTS:
1. open sans - 400
2. poppins - 400 and 600
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/


:root{
    box-sizing: border-box;
    font-size: 62.5%;
}

* , ::after , ::before{
    box-sizing: inherit;
    padding:0;
    margin:0;
}

body{
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-image: url("images/bg-desktop.svg"),
    linear-gradient(rgba(103, 75, 175),rgba(103, 75, 175));
    background-repeat: no-repeat;
    background-size: contain;

}

.container{
    max-width:144rem;
    margin: 3.2rem 6.4rem;
}

.hero-box{
    display: flex;
    gap:4.8rem;
    justify-content: center;
    margin-bottom: 3.6rem;
}

.logo-img{
    height: 4.4rem;
    margin-bottom: 11.2rem ;
}

.main{
    font-family: 'Poppins', sans-serif;
    padding: 2.4rem 6.2rem 0 0;
    align-self: flex-start;
}


.hero-heading{
    font-weight: 600;
    font-size: 3.8rem;
    color:#fff;
    padding-right: 7.2rem;
    margin-bottom: 2.4rem;
}

.hero-description{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;
    color: #fff;
    margin-bottom: 2.4rem;
}

.btn{
    border : 2px solid #523c8c;
    padding: 1.8rem 6.2rem;
    border-radius: 4rem;
    color:hsl(257, 40%, 49%);
    font-size: 1.6rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transition: all 0.3s;
}

.btn:hover{
    background-color: hsl(300, 69%, 71%);
    color:#fff;
    cursor: pointer;
}

.icon-box{
    display:flex;
    font-size: 2.4rem;
    justify-content: flex-end;
    gap:1.2rem;
    margin-right: 2.4rem;
}

.facebook{
    background-color:hsl(257, 40%, 49%) ;
}

.icon{
    font-size: 2.4rem;
    color:#fff;
    padding:0.6rem;
    border: 2px solid #fff;
    border-radius: 10rem;
    transition: all 0.3s;
}

.icon:hover{
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
    cursor: pointer;
}

@media (max-width : 24em){
    body{
        background-image: url("images/bg-mobile.svg"),
        linear-gradient(rgba(103, 75, 175),rgba(103, 75, 175));
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat, repeat;
    }

    .container{
        padding:3.6rem 3.8rem;
    }

    .logo-img{
        height: 3.6rem;
        margin-bottom: 4rem;
    }

    .main{
        text-align: center;
        padding:0;
    }

    .hero-box{
        flex-direction: column;
    }

    .hero-heading{
        font-size: 2.8rem;
        padding: 0;
    }

    .hero-description{
        font-size: 1.4rem;
        letter-spacing: 0.4px;
        word-spacing: 0.8px;
    }

    .icon-box{
        justify-content: center;
        margin:0;
    }

    .btn{
        padding: 1.4rem 8rem;
        font-size: 1.4rem;
        margin-bottom: 3.6rem;
    }


}